<div>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,650" rel="stylesheet">
<div class="titels">PROJECT TEAM</div>

  <div id="team">
    <div class="people"><img src="../../assets/img/u261.png"><div class="people_ditels"> <span>Robert Wartenfeld, MD, MHA</span> <span class="s_people_ditels">Chief Medical Officer</span>
    <span class="s_people_ditels">Negev Medical Center, Israel</span></div></div>
    <div class="people"><img src="../../assets/img/hovav.png"><div class="people_ditels"><span>Hovav Summer, Phd</span> <span class="s_people_ditels">Chief Data scientist</span>
      <span class="s_people_ditels">Negev Medical Center, Israel</span></div></div>
  </div>
</div>
