<div id="u8378_div" class="" xmlns="">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">


  <ul class="timeline" id="timeline">
    <li class="li complete">


      <div id="1" (click)="ToggleComplete()" [routerLink]="['/cars']" class="status">
        <h4> ASK </h4>
      </div>
    </li>
    <li class="li ">
      <div id="2" (click)="ToggleComplete()" [routerLink]="['/home']" class="status" >
        <h4> MANAGE </h4>
      </div>
    </li>
    <li class="li ">
      <div id="3" (click)="ToggleComplete()" class="status">
        <h4> DISCOVER </h4>
      </div>
    </li>
    <li class="li">
      <div id="4" (click)="ToggleComplete()" class="status">
        <h4> ACT </h4>
      </div>
    </li>
    <li class="li">
      <div id="5" (click)="ToggleComplete()" style="border-top: none" class="status">
        <h4> MONITOR </h4>
      </div>
    </li>
  </ul>
  <div id="search">
    <div contenteditable="true" id="search_text" >Search....</div>
    <img id="search_img" type="submit" src="../../assets/img/u220.png">
  </div>
</div>


