
<div>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,200,400" rel="stylesheet">

  <p>{{service.titel_name}}  &nbsp; <img id="img_name" src="../../assets/img/u2008.png"></p>
  <span>Created: <span class="ditel">{{Created}} </span> &nbsp; |  &nbsp; Updated: <span class="ditel">{{Updated}}</span>   &nbsp; | &nbsp;  Fully shared to MDCloude &nbsp; &nbsp;<img id="img_shared" src="src/img/u800.png"> &nbsp;  |  &nbsp;<img id="img_Active" src="src/img/u1929.png"> &nbsp; Active {{Active}}</span>



</div>
